{% extends 'base.html.twig' %}

{% block title %}Клиенты{% endblock %}

{% block body %}
    <div class="container">
        <main>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active">Клиенты</li>
                </ol>
            </nav>

            <h1 class="mb-4">Клиенты</h1>

            <div style="margin-bottom: 2rem;">
                <a href="{{ path('client.create') }}" class="btn btn-primary">Создать клиента</a>
            </div>

            <ol>
                {% for client in clients %}
                    <li class="mb-4">
                        <b>{{ client }}</b>
                        <a href="{{ path('client.update', {id: client.id}) }}">изменить</a>
                        <div class="mt-2">
                            {% if client.credits is empty %}
                                Кредиты: 0.
                            {% else %}
                                Кредиты: <br/>
                                {% for credit in client.credits %}
                                    - {{ credit }}<br/>
                                {% endfor %}
                            {% endif %}
                            <div>
                                <a href="{{ path('credit.form', {clientId: client.id}) }}">Выдать кредит</a>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ol>
        </main>
    </div>
{% endblock %}
