{% extends 'base.html.twig' %}

{% block title %}Клиенты{% endblock %}

{% block body %}
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active">Клиенты</li>
            </ol>
        </nav>

        <h1 class="mb-4">Клиенты</h1>

        <div style="margin-bottom: 2rem;">
            <a href="{{ path('client.create') }}">Создать клиента</a>
        </div>

        <ol>
            {% for client in clients %}
                <li>
                    {{ client }}
                    <a href="{{ path('client.update', {id: client.id}) }}">Изменить</a>,
                    <a href="{{ path('credit.form', {clientId: client.id}) }}">Выдать кредит</a>
                    <div>
                        Кредиты: <br/>
                        {% for credit in client.credits %}
                            - {{ credit }}<br/>
                        {% else %}
                            No credits found for this client.
                        {% endfor %}
                    </div>
                </li>
            {% endfor %}
        </ol>
    </div>
{% endblock %}
