{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('client.default') }}">Клиенты</a></li>
                <li class="breadcrumb-item active">{{ title }}</li>
            </ol>
        </nav>

        <h1 class="mb-4">{{ title }}</h1>

        {{ form_errors(form) }}

        {{ form_start(form) }}

        {{ form_end(form) }}
    </div>
{% endblock %}
